.assetView .nav-pills {
    --bs-nav-pills-link-active-bg: var(--bs-secondary);
    --bs-nav-pills-link-active-color: var(--bs-white);
}

.assetView .nav-pills .nav-link:hover {
    --bs-nav-link-hover-color: var(--bs-gray-600);
}

.assetView .nav-pills .nav-link {
    --bs-nav-link-color: var(--bs-black);
}
.assetView .nav-pills .nav-link {
    --bs-nav-link-padding-y: 2rem;
}
