.nav-pills .nav-link {
    --bs-nav-link-color: var(--bs-white);
}

.nav-pills .nav-link:hover {
    --bs-nav-link-hover-color: var(--bs-gray-300);
}

.nav-pills .nav-link.active {
    --bs-nav-pills-link-active-bg: var(--bs-gray-500);
    --bs-nav-pills-link-active-color: var(--bs-black);
}
